## Deliverable 2. Create a Customer Travel Destinations Map.

In [135]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [136]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Poya,NC,-21.3500,165.1500,74.52,80,100,5.66,overcast clouds
1,1,Krasnogorsk,RU,55.8225,37.3181,34.00,93,90,8.95,mist
2,2,Mar Del Plata,AR,-38.0023,-57.5575,84.20,65,20,11.50,few clouds
3,3,Griffith,US,41.5284,-87.4237,16.00,67,1,3.02,clear sky
4,4,Narsaq,GL,60.9167,-46.0500,28.40,29,1,19.57,clear sky

In [62]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [63]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Mar Del Plata,AR,-38.0023,-57.5575,84.20,65,20,11.50,few clouds
5,5,Port-Gentil,GA,-0.7193,8.7815,84.20,79,40,11.50,scattered clouds
9,9,Porto Walter,BR,-8.2686,-72.7439,75.06,94,100,2.01,light rain
10,10,Atuona,PF,-9.8000,-139.0333,77.67,80,5,16.15,light rain
15,15,Souillac,MU,-20.5167,57.5167,82.40,69,40,5.75,scattered clouds
16,16,Mozarlandia,BR,-14.7447,-50.5706,89.28,52,58,7.00,broken clouds
18,18,Sinnamary,GF,5.3833,-52.9500,79.38,86,88,13.82,overcast clouds
19,19,Bredasdorp,ZA,-34.5322,20.0403,78.80,38,0,29.93,clear sky
20,20,Bathsheba,BB,13.2167,-59.5167,82.40,65,40,18.41,scattered clouds
24,24,Mahebourg,MU,-20.4081,57.7000,82.40,69,40,5.75,scattered clouds

In [64]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                232
City                   232
Country                228
Lat                    232
Lng                    232
Max Temp               232
Humidity               232
Cloudiness             232
Wind Speed             232
Current Description    232
dtype: int64

In [96]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Mar Del Plata,AR,-38.0023,-57.5575,84.20,65,20,11.50,few clouds
5,5,Port-Gentil,GA,-0.7193,8.7815,84.20,79,40,11.50,scattered clouds
9,9,Porto Walter,BR,-8.2686,-72.7439,75.06,94,100,2.01,light rain
10,10,Atuona,PF,-9.8000,-139.0333,77.67,80,5,16.15,light rain
15,15,Souillac,MU,-20.5167,57.5167,82.40,69,40,5.75,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
696,696,Edendale,ZA,-29.6528,30.3147,84.99,70,0,6.13,clear sky
698,698,Noumea,NC,-22.2763,166.4572,79.00,88,20,3.44,few clouds
701,701,Namatanai,PG,-3.6667,152.4333,79.97,79,98,4.47,overcast clouds
704,704,Vao,NC,-22.6667,167.4833,76.73,81,97,26.49,overcast clouds
706,706,Maine-Soroa,NE,13.2114,12.0241,85.98,12,48,13.06,scattered clouds

In [71]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Mar Del Plata,AR,84.20,few clouds,-38.0023,-57.5575,
5,Port-Gentil,GA,84.20,scattered clouds,-0.7193,8.7815,
9,Porto Walter,BR,75.06,light rain,-8.2686,-72.7439,
10,Atuona,PF,77.67,light rain,-9.8000,-139.0333,
15,Souillac,MU,82.40,scattered clouds,-20.5167,57.5167,
16,Mozarlandia,BR,89.28,broken clouds,-14.7447,-50.5706,
18,Sinnamary,GF,79.38,overcast clouds,5.3833,-52.9500,
19,Bredasdorp,ZA,78.80,clear sky,-34.5322,20.0403,
20,Bathsheba,BB,82.40,scattered clouds,13.2167,-59.5167,
24,Mahebourg,MU,82.40,scattered clouds,-20.4081,57.7000,

In [73]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get the latitude and longitude from DataFrame.
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Mar Del Plata,AR,84.20,few clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
5,Port-Gentil,GA,84.20,scattered clouds,-0.7193,8.7815,Fengshui Residence
9,Porto Walter,BR,75.06,light rain,-8.2686,-72.7439,Secretaria de saúde
10,Atuona,PF,77.67,light rain,-9.8000,-139.0333,Villa Enata
15,Souillac,MU,82.40,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
...,...,...,...,...,...,...,...
696,Edendale,ZA,84.99,clear sky,-29.6528,30.3147,Bed and Breakfast at the White House
698,Noumea,NC,79.00,few clouds,-22.2763,166.4572,Hôtel Le Lagon
701,Namatanai,PG,79.97,overcast clouds,-3.6667,152.4333,Namatanai Hotel
704,Vao,NC,76.73,overcast clouds,-22.6667,167.4833,Hotel Kou-Bugny
706,Maine-Soroa,NE,85.98,scattered clouds,13.2114,12.0241,

In [129]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna(subset=["Hotel Name"], inplace=True)
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Mar Del Plata,AR,84.20,few clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
5,Port-Gentil,GA,84.20,scattered clouds,-0.7193,8.7815,Fengshui Residence
9,Porto Walter,BR,75.06,light rain,-8.2686,-72.7439,Secretaria de saúde
10,Atuona,PF,77.67,light rain,-9.8000,-139.0333,Villa Enata
15,Souillac,MU,82.40,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
...,...,...,...,...,...,...,...
696,Edendale,ZA,84.99,clear sky,-29.6528,30.3147,Bed and Breakfast at the White House
698,Noumea,NC,79.00,few clouds,-22.2763,166.4572,Hôtel Le Lagon
701,Namatanai,PG,79.97,overcast clouds,-3.6667,152.4333,Namatanai Hotel
704,Vao,NC,76.73,overcast clouds,-22.6667,167.4833,Hotel Kou-Bugny
706,Maine-Soroa,NE,85.98,scattered clouds,13.2114,12.0241,

In [130]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [133]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Mar Del Plata,AR,84.20,few clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
5,Port-Gentil,GA,84.20,scattered clouds,-0.7193,8.7815,Fengshui Residence
9,Porto Walter,BR,75.06,light rain,-8.2686,-72.7439,Secretaria de saúde
10,Atuona,PF,77.67,light rain,-9.8000,-139.0333,Villa Enata
15,Souillac,MU,82.40,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
...,...,...,...,...,...,...,...
696,Edendale,ZA,84.99,clear sky,-29.6528,30.3147,Bed and Breakfast at the White House
698,Noumea,NC,79.00,few clouds,-22.2763,166.4572,Hôtel Le Lagon
701,Namatanai,PG,79.97,overcast clouds,-3.6667,152.4333,Namatanai Hotel
704,Vao,NC,76.73,overcast clouds,-22.6667,167.4833,Hotel Kou-Bugny
706,Maine-Soroa,NE,85.98,scattered clouds,13.2114,12.0241,

In [134]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))