## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Mar Del Plata,AR,84.20,few clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
1,5,Port-Gentil,GA,84.20,scattered clouds,-0.7193,8.7815,Fengshui Residence
2,9,Porto Walter,BR,75.06,light rain,-8.2686,-72.7439,Secretaria de saúde
3,10,Atuona,PF,77.67,light rain,-9.8000,-139.0333,Villa Enata
4,15,Souillac,MU,82.40,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa

In [10]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Mar Del Plata,AR,84.20,few clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
1,5,Port-Gentil,GA,84.20,scattered clouds,-0.7193,8.7815,Fengshui Residence
2,9,Porto Walter,BR,75.06,light rain,-8.2686,-72.7439,Secretaria de saúde
3,10,Atuona,PF,77.67,light rain,-9.8000,-139.0333,Villa Enata
4,15,Souillac,MU,82.40,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa

In [11]:
# 4a. Add a marker layer for each city to the map. 
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [66]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start_df = vacation_df.loc[vacation_df['City']=='Carnarvon']
vacation_stop1_df = vacation_df.loc[vacation_df['City']=='Karratha']
vacation_stop2_df = vacation_df.loc[vacation_df['City']=='Port Hedland'] 
vacation_stop3_df = vacation_df.loc[vacation_df['City']=='Kununurra']
vacation_end_df = vacation_df.loc[vacation_df['City']=='Carnarvon']
vacation_start_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
34,108,Carnarvon,AU,77.0,broken clouds,-24.8667,113.6333,Hospitality Carnarvon

In [40]:
vacation_end_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
34,108,Carnarvon,AU,77.0,broken clouds,-24.8667,113.6333,Hospitality Carnarvon

In [41]:
vacation_stop1_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
51,162,Karratha,AU,86.61,few clouds,-20.7377,116.8463,ibis Styles Karratha

In [42]:
vacation_stop2_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
27,80,Port Hedland,AU,86.0,overcast clouds,-20.3167,118.5667,The Esplanade Hotel

In [43]:
vacation_stop3_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
110,332,Kununurra,AU,77.0,overcast clouds,-15.7667,128.7333,Hotel Kununurra

In [67]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start_df["Lat"].to_numpy()[0], vacation_start_df["Lng"].to_numpy()[0]
stop1 = vacation_stop1_df["Lat"].to_numpy()[0], vacation_stop1_df["Lng"].to_numpy()[0]
stop2 = vacation_stop2_df["Lat"].to_numpy()[0], vacation_stop2_df["Lng"].to_numpy()[0]
stop3 = vacation_stop3_df["Lat"].to_numpy()[0], vacation_stop3_df["Lng"].to_numpy()[0]
end = vacation_end_df["Lat"].to_numpy()[0], vacation_end_df["Lng"].to_numpy()[0]

In [74]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

fig = gmaps.figure()
Australiacoast = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
Australiacoast = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='BICYCLING')
Australiacoast = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='WALKING')

fig.add_layer(Australiacoast)

fig

Figure(layout=FigureLayout(height='420px'))

In [75]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start_df, vacation_stop1_df, vacation_stop2_df, vacation_stop3_df],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,108,Carnarvon,AU,77.00,broken clouds,-24.8667,113.6333,Hospitality Carnarvon
1,162,Karratha,AU,86.61,few clouds,-20.7377,116.8463,ibis Styles Karratha
2,80,Port Hedland,AU,86.00,overcast clouds,-20.3167,118.5667,The Esplanade Hotel
3,332,Kununurra,AU,77.00,overcast clouds,-15.7667,128.7333,Hotel Kununurra

In [76]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [65]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))